body {
    font-family: 'Poppins', sans-serif;
    border: 5px solid rgb(0, 0, 0);
  }

  h1, h2, p, li, a {
    font-family: 'poppins', sans-serif;
  }

  .navbar-light .navbar-brand,
  .navbar-light .nav-link {
      color: white !important;
  }

  .project {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  .project-text {
    flex: 1;
  }

  .project-image {
    width: 50%;
    padding-left: 2rem;
  }

  .project img {
    max-width: 100%;
    height: auto;
  }
  
  /* Default styles for large devices (desktops/laptops) */
.hero-section {
    height: 100vh;
  }
  
  .scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 50px;
    cursor: pointer;
    z-index: 100;
  }
  
  .scroll-to-top i {
    vertical-align: middle;
  }
  
  
  /* Styles for medium devices (tablets, landscape mobiles) */
  @media (max-width: 992px) {
    .hero-section {
      height: 80vh;
    }
  }
  
  /* Styles for small devices (portrait mobiles) */
  @media (max-width: 768px) {
    .hero-section {
      height: 60vh;
    }
  }
  

  #home {
    min-height: 65vh;
    padding-top: 20px;
  }


#skills {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.projects {
    margin: 2rem 0;
  }
  
  .project {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .project h3 {
    margin-top: 0;
  }
  
  .project a {
    display: inline-block;
    margin-top: 0.5rem;
    text-decoration: none;
    color: #0366d6;
  }
  
  .project a:hover {
    text-decoration: underline;
  }

  .projects-carousel {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .view-live {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: #d7eaff;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
  }
  
  .view-live:hover {
    background-color: #a9d5ff;
  }
  
  

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}